@media screen and (max-width: 700px)

{
    #bloc_page
    {
        width: auto;
    }

    /* Reorganisation du header */
    header
    {
        flex-wrap: wrap;
        width: auto;
        margin: 20px;
    }

    #logo
    {
        order: 1;
    }

    #navigation
    {
        order: 3;
        margin: auto;
        width: 100%;

    }

    #inscription
    {
        order:2;
        margin: 0;
    }  
    
    nav
    {
        position: static;
    }

    nav ul
    {
        justify-content: space-between;
        margin: auto;
        width: auto;
        padding-left:0;
    }

    nav li
    {
        margin: 20px 0px;
        border-top: 0;
        border-bottom: 3px #f2f2f2 solid;
        padding-bottom: 10px;
        text-align: center;
        width: 50%;       
    }

    nav li:hover
    {
        border-bottom: 3px #0065FC solid;
        border-top:0;
    }

    nav li a:hover
    {
        color: #0065FC;
    }
    
    /* Fin reorganisation header */
    /* Recherche */

    #recherche
    {
        width: auto;
        margin: 20px;
    }

    #recherche p
    {
        margin-bottom: 40px;
    }

    /* Champs rechercher */

    form
    {
        width: auto;
    }

    label
    {
        width: 60px;
    }

    input
    {
        width: 100%;
        border: 0;
    }

    .rechercher
    {
        width: 60px;
        border-radius: 12px;
    }

    .cache
    {
        display: none;
    }

    .rechercher i
    {
        visibility: visible;
        font-size: 1.1em;
    }

    /* Fin recherche */
    /* Filtres */

    #filtres    
    {
	flex-direction: column;
    margin:20px;
    }

    .titre_filtres
    {	
        width: 100%;
        margin : 0px 0px 10px 0px;	
    }


    .box_filtres
    {
        width: auto;
        height: auto;
        flex-wrap: wrap;	
        justify-content: space-between;
    }

    .box
    {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    /* Fin filtres */
    /* Informations */

    .information
    {
        width: auto;
        margin: 20px;
    }

    .info
    {
        width: 10%;
        border-radius: 30px;
    }

    .info i
    {
        padding: 6px 0px 0px 12px;
    }

    .logement
    {width: auto;}

    /* Hebergements */    

    #hebergement
    {
        flex-direction: column-reverse;
        width: 100%;
    }

    /* Populaires */

      #populaires
    {
        width: 100%;
        border-radius: 0;
    }

    .title_pop
    {
        margin-left: 20px;
        margin-right: 20px;
    }

    .bloc_pop
    {
        margin: 0px 20px 20px 30px; 
    }

    .vignette_2
    {
        width: 95%;
        height: 140px;
        margin-bottom: 10px;
    }

    .vignette_2 figure
    {
        margin: auto;
    }

    .vignette_2 figure img
    {
        width: 40%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
        object-fit: cover;	
    }

    .vignette_2 figcaption
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between ;
    }

    .vignette_2 .stars
{
	padding: 0px 10px 8px 20px;
}


    .stars
    {
        padding: 0px 10px 20px 20px;
    }

    /* Fin populaires */
    /* Hebergement à Marseille */

    .marseille
    {
        flex:1;
        background-color: white;
        margin-right: 0;
        width: 100%;
        padding: 0;
        margin: 20px 20px;
    }

    .marseille h2, h3
    {
        margin-left: 0;
    }

    .vignettes_all
    {
        
        flex-direction: column;
    }

    .vignette
    {
        width: 87%;
        margin:0px 0px 20px 0px;
    } 

    .vignette .stars
    {
        padding: 0px 10px 20px 0px;
    }

    /* Fin Hebergement à Marseille */
    /* Activité à Marseille */

    #activites
    {
        width: 100%;
        margin: auto;
        padding: 0;
    }

    #activites h2
    {
        margin-left: 20px;
    }

    .portefolio
    {
        flex-direction: column;
        margin: 10px 20px 30px 20px;
        width: 97%;
    }

    .photo_1
    {
        width: 92%;
        height: 190px;
        margin-bottom: 25px;
        margin-top: 10px;
    }

    .portefolio figure img
    {
        height: 75%;
    }

    .portefolio figcaption
    {
        padding: 10px 20px;
        text-align: left;

    }

    .photo_duo
    {
        height: 400px;
        width: 92%;
    }

    .photo_2, .photo_4
    {
        height: 50%;
        margin-bottom: 20px;
    }

    .photo_3
    {
        height: 50%;
    }

    .photo_5
    {
        height: 50%;
        margin-bottom: 0px;
    }

    /* Fin Activité à Marseille */
    /* Footer */

    footer
    {
        width: 100%;
        margin: auto;
    }

    footer h4
    {
        margin-top: 0;
    }

    #footer_group
    {
        flex-direction: column;
        width: auto;
        margin: 40px 0px 20px 40px;
    }

    .footer_elements
    {
        margin: 0;
        width: 100%;
    }

    .footer_elements p
    {
        padding-bottom: 0;
    }

    .footer_elements li
    {
        padding-bottom: 10px;
    }

    /* Fin footer */

}
