@media screen and (max-width: 1000px)
{
    /* Hebergement */

    #hebergement
    {
        flex-direction: column-reverse;
    }

    /* Populaires */

    .vignette_2
    {
        width: 90%;
        height: 160px;
    }


    /* Fin populaires */
    /* Hebergement à Marseille */

    .marseille
    {
        flex:0;
        background-color: white;
        margin : 10px 0px;
    }

    .marseille h2
    {
        margin-left: 0;
    }

    .vignette
    {
        width: 45%;
        margin: 10px 0px;
    }

    /* Activites à Marseille */

    #activites
    {
        margin-top: 0;
        padding: 0px 30px 0px 30px;
    }

    .portefolio
    {
        flex-direction: column;
    }

    .photo_1
    {
        width: 100%;
        margin: 20px 0px;
        height: 350px;
    }

    .portefolio figcaption
    {
        height: 0;
        position: static;
        text-align: center;
        padding: 10px 0px 0px 0px;
    }

    .photo_duo
    {
        width: 100%;
        height: 700px;
    }

    .photo_duo figure img
    {
        height:89%;
    }

    .photo_2
    {
        height: 50%;
    }

    .photo_3, .photo_4, .photo_5
    {
        height: 50%;
        margin-top: 0;
    }

    /* Fin activites a Marseille */
    /* Footer */

    #footer_group
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }

    .footer_elements
    {
        margin: 20px ;
    }

    /* Fin footer */
  
}